/* === Staatliches - regular */
@font-face {
	font-family: 'Staatliches';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("./font/Staatliches-Regular.eot");
	src: local("Staatliches Regular"),
		local("Staatliches-Regular"),
		url("./font/Staatliches-Regular.eot") format("embedded-opentype"),
		url("./font/Staatliches-Regular.woff2") format("woff2"),
		url("./font/Staatliches-Regular.woff") format("woff"),
		url("./font/Staatliches-Regular.ttf") format("truetype"),
		url("./font/Staatliches-Regular.svg") format("svg");
}
